@use "sass:list";
@use "sass:map";
/*
 * Variables 
 * Mixins
 */

/* Variables */        
    :root {
        --wp--style--block-gap: 25px;

        --accent: #d49f53; /* Primary */
        --accent-2: #7e8d68; /* Secondary */
        --accent-3: #d49f53; /* Tertiary */
        
        --contrast: #000000; /* Foreground */
        --contrast-2: #222222; 
        --contrast-3: #888888;

        --base: #dddddd; /* Border Color */
        --base-2: #f4f4f4; /* Close to base of all base */
        --base-3: #ffffff; /* Base of all base */

        --primary:#d49f53;
        --secondary:#7e8d68;
        --tertiary: #d49f53;
        --foreground:#333333;

        --content-width:1140px;
        --wp-admin-theme-color: #2271b1;
        --wp-admin-theme-color-darker-10:#006ba1;        
        --wp-components-color-accent:#2271b1;  
        --wp-components-color-accent-darker-10:#006ba1;
    }

    $half-spacing: 16px;
    $spacing: 25px;
    $double-spacing: 50px;

    $xl: 1439px;
    $lg: 1199px;
    $md: 991px;
    $sml: 781px;
    $sm: 767px;
    $xs: 576px;

    $slimmer-width: min(calc(100vw - 2 * $spacing ), 620px );
    $slim-width: min(calc(100vw - 2 * $spacing ), 900px );
    $default-width: min(calc(100vw - 2 * $spacing ), 1140px );
    $wide-width: min(calc(100vw - 2 * $spacing ), 1440px );
    $max-width: calc( 100vw - 100px );

    $tablet-max-width: calc( 100vw - 50px );

    $mobile-slimmer-width: min(calc(100vw - 2 * $half-spacing ), 620px );
    $mobile-slim-width: min(calc(100vw - 2 * $half-spacing ), 900px );
    $mobile-default-width: min(calc(100vw - 2 * $half-spacing ), 1140px );
    $mobile-wide-width: min(calc(100vw - 2 * $half-spacing ), 1440px );
    $mobile-max-width: calc( 100vw - 32px );

    $primary:#d49f53; // --accent
    $secondary: #7e8d68; //--accent-2
    $tertiary: #d49f53; // --accent-3    

    $accent1: #403429;
    $accent2: #544435;
    $accent3: #cdb59b;
    $accent4: #e4d3bf;
    $accent5: #f9f1e8;
    $accent6: #9d3c21;

    $dark: #888888; // --contrast-3
    $heading: #222222; // --contrast-2
    $foreground: #333333; // --base
    $background: #fdf9f5;  // --base-2  
    $border: #eeeeee;    
    $black: #000000; // --contrast
    $white: #ffffff; // --base-3

    $success: #7fb34d;
    $info: #1e85be;
    $warning: gold;
    $error: #E4203F;

    $primary-font:'DM Sans';
    $secondary-font: 'Fraunces';

    /* Desktop Font Size */
    $h00: 72px;
    $h0: 60px;
    $h1: 48px;
    $h2: 36px;
    $h3: 30px;
    $h4: 24px;
    $h5: 18px;
    $p: 18px;    
    $h6: 16px;
    $span: 14px;

    $lh: 1.2;
    $lh00: 82px;
    $lh0: 70px;
    $lh1: 58px;
    $lh2: 46px;
    $lh3: 40px;
    $lh4: 34px;
    $lh5: 28px;
    $lp: 28px;    
    $lh6: 26px;
    $lspan: 24px;

    /* Large Tablet Font Size */
    $lth00: $h0;    

    $ltlh00: $lh0;

    /* Tablet Font Size */
    $th00: $h1;
    $th0: $h1;

    $tlh00: $lh1;
    $tlh0: $lh1;

    /* Mobile Font Size */
    $mh00: 32px;
    $mh0: 32px;
    $mh1: 32px;
    $mh2: 28px;
    $mh3: 24px;
    $mh4: 20px;
    $mh5: 16px;
    $mp: 16px;
    $mspan: 14px;
    $mh6: 14px;
    
    $mlh00: 42px;
    $mlh0: 42px;
    $mlh1: 42px;
    $mlh2: 38px;
    $mlh3: 34px;
    $mlh4: 30px;
    $mlh5: 26px;
    $mlp: 26px;
    $mlspan: 24px;
    $mlh6: 24px;

    $font: ( 'h00' : $h00, 'h0' : $h0, 'h1' : $h1, 'h2' : $h2, 'h3' : $h3, 'h4' : $h4, 'h5' : $h5, 'p' : $p, 'span' : $span, 'h6' : $h6 );
    $lineheight: ( 'h00' : $lh00, 'h0' : $lh0, 'h1' : $lh1, 'h2' : $lh2, 'h3' : $lh3, 'h4' : $lh4, 'h5' : $lh5, 'p' : $lp, 'span' : $lspan, 'h6' : $lh6 );

    $largetabletfont: ( 'h00' : $lth00 );
    $largetabletlineheight: ( 'h00' : $ltlh00 );

    $tabletfont: ( 'h00' : $th00, 'h0' : $th0 );
    $tabletlineheight: ( 'h00' : $tlh00, 'h0' : $tlh0 );

    $mobilefont: ( 'h00' : $mh00, 'h0' : $mh0, 'h1' : $mh1, 'h2' : $mh2, 'h3' : $mh3, 'h4' : $mh4, 'h5' : $mh5, 'p' : $mp, 'span' : $mspan, 'h6' : $mh6 );
    $mobilelineheight: ( 'h00' : $mlh00, 'h0' : $mlh0, 'h1' : $mlh1, 'h2' : $mlh2, 'h3' : $mlh3, 'h4' : $mlh4, 'h5' : $mlh5, 'p' : $mlp, 'span' : $mlspan, 'h6' : $mlh6 );

    $transition: all 0.2s ease 0s;
    $border-radius:0px;

/* Mixins */
    @mixin font( $size ) {
        font-size: map.get( $font, $size );    
        line-height: map.get( $lineheight, $size );

        @if $size == 'h00' {
            @media( max-width:$lg ) {
                font-size: map.get( $largetabletfont, $size );    
                line-height: map.get( $largetabletlineheight, $size );
            }
        }


        @if $size == 'h00' or $size == 'h0' 
        {
            @media( max-width:$md ) {
                font-size: map.get( $tabletfont, $size );    
                line-height: map.get( $tabletlineheight, $size );
            }
        }

        @media( max-width:$sm ) {
            font-size: map.get( $mobilefont, $size );    
            line-height: map.get( $mobilelineheight, $size );
        }
    }

    @mixin slimmer-width {
        max-width: $slimmer-width;
        margin-left: auto;
        margin-right: auto;

        @media( max-width:$sm ) {
            max-width:$mobile-slimmer-width;
        }
    }

    @mixin slim-width {
        max-width: $slim-width;
        margin-left: auto;
        margin-right: auto;

        @media( max-width:$sm ) {
            max-width:$mobile-slim-width;
        }
    }

    @mixin default-width {
        max-width: $default-width;
        margin-left: auto;
        margin-right: auto;

        @media( max-width:$sm ) {
            max-width:$mobile-default-width;
        }
    }

    @mixin wide-width {
        max-width: $wide-width;
        margin-left: auto;
        margin-right: auto;

        @media( max-width:$sm ) {
            max-width:$mobile-wide-width;
        }
    }

    @mixin max-width {
        max-width: $max-width !important;
        margin-left: auto;
        margin-right: auto;

        @media( max-width:$md ) {
            max-width:$tablet-max-width !important;
        }

        @media( max-width:$sm ) {
            max-width:$mobile-max-width !important;
        }
    }

    @mixin button {
        background-color: $primary;
        color:$white;
        border:1px solid $primary;
        padding:8px 24px;

        @media( max-width:$sm ) {
            padding:4px 12px;
        }

        &:hover,
        &:focus {
            background-color: $secondary;
            color:$white;
            border-color:$secondary;
        }
    }

    @mixin button-outline {
        background-color: transparent;
        color:$primary;
        border:1px solid $primary;
        padding:8px 24px;

        @media( max-width:$sm ) {
            padding:4px 12px;
        }

        &:hover,
        &:focus {
            background-color: $secondary;
            color:$white;
            border-color:$secondary;
        }
    }